*
!.dockerignore
!Dockerfile
!LICENSE
!README.md
!alembic.ini
!pyproject.toml
!uv.lock
!.streamlit/
!.streamlit/config.toml
!app/
!app/**
!migrations/
!migrations/**
!src/
!src/**
**/__pycache__/
**/__pycache__/**
**/*.py[cod]
**/.DS_Store
